<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Visualize Excel Data</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #1a1a2e;
            color: #e5e5e5;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            margin: 20px 0;
        }

        #uploadForm {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        #dropArea {
            border: 2px dashed #4b5d67;
            border-radius: 10px;
            width: 300px;
            height: 100px;
            padding: 10px;
            text-align: center;
            color: #ccc;
            margin: 10px;
            transition: all 0.5s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        #dropArea.hover, #dropArea:hover {
            border-color: #3282b8;
            color: #ffffff;
            background-color: #0f3460;
        }

        ul {
            list-style-type: none;
            padding: 0;
            text-align: center;
        }

        li {
            padding: 10px;
            margin-bottom: 5px;
            background-color: #16213e;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        li:hover {
            background-color: #0f3460;
        }

        a {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Vizualizer</h1>
    <form action="/" method="post" enctype="multipart/form-data" id="uploadForm">
        <div id="dropArea">Нажмите на зону или перетащите ваш файл в нее</div>
        <input type="file" id="fileInput" name="file" accept=".xlsx" style="display:none">
    </form>
    <h1>Files</h1>
    <ul>
        {% for file in filenames %}
        <li><a href="heatmap?filename=files/{{file}}">{{ file }}</a></li>
        {% endfor %}
    </ul>

    <script>
        var dropArea = document.getElementById('dropArea');
        var form = document.getElementById('uploadForm');
        var fileInput = document.getElementById('fileInput');

        dropArea.addEventListener('click', function() {
            fileInput.click();
        });

        fileInput.addEventListener('change', function() {
            form.submit();
        });

        ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, preventDefaults, false);
        });

        ['dragenter', 'dragover'].forEach(eventName => {
            dropArea.addEventListener(eventName, highlight, false);
        });

        ['dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, unhighlight, false);
        });

        dropArea.addEventListener('drop', handleDrop, false);

        function preventDefaults(e) {
            e.preventDefault();
            e.stopPropagation();
        }

        function highlight(e) {
            dropArea.classList.add('hover');
        }

        function unhighlight(e) {
            dropArea.classList.remove('hover');
        }

        function handleDrop(e) {
            var dt = e.dataTransfer;
            var files = dt.files;
            fileInput.files = files;
            form.submit();
        }
    </script>
</body>
</html>
